---
layout: default
flavour: home
---
<section class="feature">
    {% for item in site.posts limit:1 offset:0 %}
        <h1>Latest thing <small>{% case item.category %}{% when "articles" %}article
            {% when "projects" %}project
            {% endcase %}from {{ item.date | date: "%B %Y" }}</small></h1>

        {% include item_summary_html %}
    {% endfor %}
</section>

<section class="feature promo">
    <h2>Let's work together</h2>
    <p>
        I reserve some of my time for technology consulting work, and I'm currently accepting new clients.
        &nbsp; <a class="morelink" href="{{ site.baseurl }}about">interested?</a>
    </p>
</section>

<div class="columns twocolumns">

    <section class="articles">
        <h1>Recent Articles</h1>
        {% assign print_count = "" %}{% comment %}AWFUL KLUDGE{% endcomment %}
        {% for item in site.posts offset:1 %}
            {% if item.category == "articles" %}
                {% assign printed = print_count.size %}
                {% if printed > 3 %}
                {% else %}
                    {% include item_summary_html %}
                    {% capture new_print_count %}{{ print_count }}*{% endcapture %}
                    {% assign print_count = new_print_count %}
                {% endif %}
            {% endif %}
        {% endfor %}
        <a class="morelink" href="{{ site.baseurl }}articles">all articles</a>
    </section>

    <section class="projects">
        <h1>Recent Projects</h1>
        {% assign print_count = "" %}{% comment %}AWFUL KLUDGE{% endcomment %}
        {% for item in site.posts offset:1 %}
            {% if item.category == "projects" %}
                {% assign printed = print_count.size %}
                {% if printed > 3 %}
                {% else %}
                    {% include item_summary_html %}
                    {% capture new_print_count %}{{ print_count }}*{% endcapture %}
                    {% assign print_count = new_print_count %}
                {% endif %}
            {% endif %}
        {% endfor %}
        <a class="morelink" href="{{ site.baseurl }}projects">all projects</a>
    </section>

</div>
