---
layout: none
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }} &middot; {% endif %}daniel baird dot com</title>
    <meta name="description" content="Daniel Baird's Things">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet/less" type="text/css" href="{{ site.base_url }}assets/less/main.less">

    <script src="{{ site.base_url }}assets/js/less-1.3.3.min.js"></script>
    <script src="{{ site.base_url }}assets/js/modernizr-2.6.1.min.js"></script>

</head>
<body><div class="page">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
<!-- ********************************** -->

<header>
    <h1>daniel baird <span class="punc">dot</span> com</h1>
    <nav><ul>
        {% for cat in site.categories %}
        <li><a href="{{ site.base_url }}{{ cat[0] }}/">{{ cat[0] }}</a></li>
        {% endfor %}
        <li><a href="https://github.com/DanielBaird">github</a></li>
    </ul></nav>
</header>

<section class="feature">
    {% for item in site.posts limit:1 offset:0 %}
        <h1>Latest thing <small>({% case item.category %}{% when "articles" %}article
            {% when "projects" %}project
            {% endcase %}from {{ item.date | date: "%B %Y" }})</small></h1>

        {% include item_summary_html %}
    {% endfor %}
</section>

<section class="feature promo">
    <h2>Let's work together</h2>
    <p>
        I reserve some of my time for technology consulting work, and I'm currently accepting new clients.
        &nbsp; <a class="morelink" href="{{ site.base_url }}about">interested?</a>
    </p>
</section>

<div class="columns twocolumns">

    <section class="articles">
        <h1>Recent Articles</h1>
        {% assign print_count = "" %}{% comment %}AWFUL KLUDGE{% endcomment %}
        {% for item in site.posts offset:1 %}
            {% if item.category == "articles" %}
                {% assign printed = print_count.size %}
                {% if printed > 3 %}
                {% else %}
                    {% include item_summary_html %}
                    {% capture new_print_count %}{{ print_count }}*{% endcapture %}
                    {% assign print_count = new_print_count %}
                {% endif %}
            {% endif %}
        {% endfor %}
        <a class="morelink" href="{{ site.base_url }}articles">all articles</a>
    </section>

    <section class="projects">
        <h1>Recent Projects</h1>
        {% for item in site.posts offset:1 %}
            {% if item.category == "projects" %}
                {% assign printed = print_count.size %}
                {% if printed > 3 %}
                {% else %}
                    {% include item_summary_html %}
                    {% capture new_print_count %}{{ print_count }}*{% endcapture %}
                    {% assign print_count = new_print_count %}
                {% endif %}
            {% endif %}
        {% endfor %}
        <a class="morelink" href="{{ site.base_url }}projects">all projects</a>
    </section>

</div>

<footer>
footer.  yes, footer.
</footer>

</div>
<!-- ********************************** -->

    <!-- script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ site.base_url }}assets/js/jquery-1.8.2.min.js"><\/script>')</script -->

    <script>
        var _gaq=[['_setAccount','{{ site.google_analytics.tracking_id }}'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</div></body>
</html>