
@highlightcolor: rgb(255,0,0);

@import 'tbs/variables'; // is actually a modified version of twitter bootstrap file

@import 'tbs/mixins';
@import 'tbs/reset';

@import 'tbs/scaffolding';
// @import 'tbs/grid';
// @import 'tbs/layouts'; // responsive container
// @import 'tbs/responsive'; // responsive grid

@import 'tbs/type';
// @import 'tbs/code';
// @import 'tbs/forms';
//@import 'tbs/tables';

//@import 'tbs/navs';
//@import 'tbs/navbar';


@media-wide-max: 860px;
@media-wide-min: 630px;

@media-medium-max: (@media-wide-min - 1px);
@media-medium-min: 500px;

@media-narrow-max: (@media-medium-min - 1px);

// -- debug ----------------------------------------------------

// -- typography -----------------------------------------------

@mediumheadingcolor: #666;
@bigheadingcolor: #333;

h1, h2, h3, h4 {
	// tighten up heading spacing a bit
	letter-spacing: -0.05em;
	// links in headings should be the heading colour
	a { color: inherit !important; }
}

// don't linebreak inside important phrases
.morsel {
	white-space: nowrap;
}

// "more" links fit on the end of paragraphs
a.morelink {
	display: inline;
	opacity: 0.75;
	&:after {
		//  \00a0 = non-breaking space, \00bb = right-pointing double angle quote mark
		content: '\00a0\00bb';
	}
}

a.topic {
	background: #eee; // TODO: fix
	padding: 0.1em 0.5em;
	.border-radius(0.5em);
}

.highlit {
	#gradient > .horizontal(lighten(@highlight, 38%), lighten(@highlight, 48%));
	display: block;
	margin-left: -2px;
	border-left: solid red 2px;
	padding-left: 5px;
}

.bigheading {
	font-size: 600%;
	line-height: 1;
	letter-spacing: -0.05em;
	padding: 0.6em 0 0.3em;
	margin: 0;
	text-align: center;
	font-weight: bold;
	color: @bigheadingcolor;

	a { color: inherit; }
}

.groupheading {
	text-align: left;
	font-weight: 900;
	color: #666;
	letter-spacing: 0.16em;
	line-height: 1.0;
	font-size: 75%;
	small {
		font-size: inherit;
		color: #999;
	}
	text-transform: uppercase;
	padding: 0.4em 0 0.4em 0.6em;
}

.articleheading {
	font-size: 300%;
	line-height: 1;
	letter-spacing: -0.05em;
	padding: 0.6em 0 0.3em;
	margin: 0;
	text-align: left;
	font-weight: bold;
	color: @mediumheadingcolor;

	a { color: inherit; }
}

// -- general layout -------------------------------------------

body {
	padding: 0 10px; // don't get any closer to the edge than 10px
}

.page {
	// the box within which the entire page content lives
	max-width: @media-wide-max;
	margin: 0 auto;
}

.page > header {
	.clearfix;
	text-shadow:
		  -1px 0  2px white,
		   1px 0  2px white,
		   0   0  6px white,
		   0   0 12px white;
}

// -- index page -----------------------------------------------

.home.page {
	> section {
		// page-level sections
		padding: 2em 0;
	}

	section > h1 {
		.highlit;
		.groupheading;
	}

	> section:first-of-type {
		padding-top: 1em;
	}

	.columns > section > h1 {
		.highlit;
		.groupheading;
	}

	section.promo {
		padding-top: 1em;
		padding-bottom: 0.5em;
		// promo parts are highlighted, and have smaller headings
		.highlit;
		h2 {
			.groupheading;
			padding-top: 0;
			padding-bottom: 0;
			margin-top: 0;
		}
		p {
			font-size: 85%;
			margin: 0 0 0.5em;
		}
	}
} // end of .home.page

@media (min-width: @media-wide-min) {
	.home.page > section.feature > * {
		padding-left: 15% !important;
		padding-right: 15% !important;
	}
}

@media (min-width: @media-medium-min) and (max-width: @media-medium-max) {
	.home.page > section.feature > * {
		padding-left: 7% !important;
		padding-right: 7% !important;
	}
}

// -- article page ---------------------------------------------

.article.page {
	article header h1 {
		.bigheading;
	}
	.metainfo > section > h1 {
		.highlit;
		.groupheading;
	}
} // end of .article.page

// -- topics page ----------------------------------------------

.topics.page {
	> h1 {
		.bigheading;
	}

	> section {
		// page-level sections
		padding: 2em 0;
	}

	section > h1 {
		.highlit;
		.groupheading;
	}

	> section:first-of-type {
		padding-top: 1em;
	}

	.columns > section > h1 {
		.highlit;
		.groupheading;
	}

	section.promo {
		padding-top: 1em;
		padding-bottom: 0.5em;
		// promo parts are highlighted, and have smaller headings
		.highlit;
		h2 {
			.groupheading;
			padding-top: 0;
			padding-bottom: 0;
			margin-top: 0;
		}
		p {
			font-size: 85%;
			margin: 0 0 0.5em;
		}
	}
} // end of .topics.page

// -- adapt layout to width ------------------------------------

// mobile first: imagine these rules are in a "narrow" media section.

//// @media (max-width: @media-narrow-min) {
	section.promo h1 {
		padding-left: 0;
	}
	.columns {
		padding-top: 4em;
	}
//// }

@column-gap: 5%;

// now the wider verison..

@media (min-width: @media-medium-min) {

	.columns {
		padding-top: 2em;
		.clearfix;

		> section {
			// a section inside a .columns is a column :)
			background: #fff;
			float: left;
			margin-left: @column-gap; // standard column gap
		}
		// first column has no left margin
		> section:first-child { margin-left: 0; }

		// twocolumns version has two equal width columns
		&.twocolumns > section { width: ((100 - @column-gap)/2); }

		// thickthin version has left column thick, right column thin
		&.thickthin > section { width: ((100 - @column-gap)/4); }
		&.thickthin > section:first-child { width: ((100 - @column-gap) * 3/4); }
		&.thickthin .metainfo {
			padding-top: 0;
			h1 { margin-top: 0; }
			> section { padding: 0 0 2em; }
		}
	}
}


// -- page header ----------------------------------------------

.page > header {
	display: table;
	width: 100%;
	padding: 100px 0;
	h1 {
		display: table-cell;
		vertical-align: middle;
		white-space: nowrap;
		.groupheading;
		float: left;
		margin: 0;
		padding-left: 0;
		word-spacing: 0.5em;
		.punc {
			color: red;
			background: white;
			font-size: 75%;
			text-align: center;
			border-radius: 50%;

			position: relative;
			bottom: 0.33em;

			display: inline-block;
			vertical-align: middle;
			width: 3.2em;
			height: 3.2em;
			line-height: 3.5em;
			margin: 0 -0.33em;

			box-shadow: 0 0 10px white, 0 0 10px white;
		}
		a {
			text-decoration: inherit;
			color: inherit;
		}
	}
	nav {
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		padding: 0;
		margin: 0 0 0 1em;
	}
	nav li {
		display: inline-block;
		margin: 0;
		margin-left: 1em;
	}
}

// -- articles -------------------------------------------------

article {
	padding: 1em 0 1.5em;

	> header {
		padding: 0 0 1em;
	}
	> header > h1, > h1 {
		.articleheading;
	}
}

.page > article {
	// an article on a page of its own
	padding: 0 0 1.5em;
	header {
		padding: 0;
		h1 {
			font-size: 350%;
			padding: 0 0 0.1em;
		}
	}
	h2, h3, h4, h5, h6 {
		padding: 1em 0 0.2em;
	}
	h2 { color: #666;    font-size: 250%;    }
	h3 { color: #444;    font-size: 150%;    }
	h4 { color: #222;    font-size: inherit; }
	h5 { color: inherit; font-size: inherit; font-weight: normal; }
}



section > a.morelink {
	opacity: 1;
	display: block;
	font-weight: bold;
	padding: 1em 0;
}

footer {
	padding: 1.5em 0;
	color: #bbb;
	a { white-space: nowrap; }
}
