---
layout: base
---
<div class="header-container">
    <header class="wrapper clearfix">
        <h1 class="title">{{ site.site_title }}</h1>
        <h2 class="slogan">{{ site.site_slogan }}</h2>
        <nav>
            <ul>
                <li><a href="{{ site.base_url }}">Home</a></li>
                <li><a href="{{ site.base_url }}about/">Who?</a></li>
                <li><a href="http://github.com/DanielBaird">Github</a></li>
            </ul>
        </nav>
    </header>
</div>

<div class="main-container">
    <div class="main wrapper clearfix">
{{content}}
    </div> <!-- #main -->
</div> <!-- #main-container -->

<div class="footer-container">
    <footer class="wrapper">
        <p>
            Content not owned by someone else is owned by Daniel Baird.  Don't use without permission.
            <a href="mailto:blogcontact@danielbaird.com">contact Daniel via email</a>.
        </p><p>
            footers look nice with dark backgrounds, don't they?
        </p>
    </footer>
</div>
