---
layout: base
---
<div class="page {{ page.flavour }}">
<p style="font-size: 80%; text-align: center; font-weight: bold; position: absolute; top: 10px; left: 0; right: 0">Everything here is just test content. Please ignore it all for now. &nbsp; &hearts;, Daniel.</p>
<header>
    <h1><a href="{{ site.baseurl }}">daniel baird <span class="punc">dot</span> com</a></h1>
    <nav><ul>
        <!-- {% for cat in site.categories %}
        <li><a href="{{ site.baseurl }}{{ cat[0] }}/">{{ cat[0] }}</a></li>
        {% endfor %} -->
        <li><a href="{{ site.baseurl }}articles">articles</a></li>
        <li><a href="{{ site.baseurl }}projects">projects</a></li>
        <li><a href="https://github.com/DanielBaird">github</a></li>
    </ul></nav>
</header>

{{ content }}

<script src="{{ site.baseurl }}assets/js/jquery-1.8.2.min.js"></script>
<script src="{{ site.baseurl }}assets/js/mousedots.js"></script>

<footer>
    <div class="columns thinthickthin">
        <section>
            <h1>site links</h1>
            <ul>
                {% for cat in site.categories %}
                <li><a href="{{ site.baseurl }}{{ cat[0] }}/">{{ cat[0] }}</a></li>
                {% endfor %}
                <li><a href="{{ site.baseurl }}topics/">topics</a></li>
            </ul>
        </section>

        <section>
            <h1>about me</h1>
            <p>
                I'm a software maker and technology generalist with interests in user experience, especially on the web.  I'm based in <a href="https://en.wikipedia.org/wiki/Townsville">Townsville</a>, which is totally a real place in the tropical north east of Australia. &nbsp; <a class="morelink" href="{{ site.baseurl }}about/">more</a>

            </p>
        </section>

        <section>
            <h1>contact</h1>
            <ul>
                <li><a href="mailto:contact@danielbaird.com">email</a></li>
                <li>
                    <a href="https://twitter.com/DanielBaird" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-dnt="true">twitter</a>
                </li>
            </ul>
        </section>
    </div>

    <section class="fineprint">
        <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/au/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/au/80x15.png" /></a> Except where otherwise noted, this site is copyright © 2012 - {{ site.time | date:"%Y" }} and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/au/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Australia License</a>.
        </p>
    </section>
</footer>

</div>
