---
layout: base
---
<div class="page">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
<header>
    <h1><a href="{{ site.base_url }}">daniel baird <span class="punc">dot</span> com</a></h1>
    <nav><ul>
        {% for cat in site.categories %}
        <li><a href="{{ site.base_url }}{{ cat[0] }}/">{{ cat[0] }}</a></li>
        {% endfor %}
        <li><a href="https://github.com/DanielBaird">github</a></li>
    </ul></nav>
</header>

{{ content }}

<script src="{{ site.base_url }}assets/js/jquery-1.8.2.min.js"></script>
<script src="{{ site.base_url }}assets/js/mousedots.js"></script>
<footer>
    Hmm big footer or minimal footer?  Content not owned by someone else is owned by Daniel Baird.  Don't use without permission.
    <a href="mailto:blogcontact@danielbaird.com">contact Daniel via email</a>.
</footer>

</div>
